body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #666;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0px 15px;
}

div {
  background-color: #fff;
  padding: 20px;
  margin: 8px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: inline-block;
}

#grafico-01 img,
#imagem-vetorial img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-top: 10px;
}

#imagem-vetorial {
  height: 420px;
  overflow: scroll;
}
canvas {
  display: block;
  margin: 10px 0;
  background-color: #f0f0f0;
  border-radius: 4px;
}

h2 {
  color: #333;
  margin-top: 0;
}

p {
  line-height: 1.5;
}

#triangulo-para-cima::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #5386e480;
  display: block;
  margin-top: -1px;
}

#triangulo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60rem;
}
