Reset de estilos padrão do navegador body,
h1,
h2,
p,
ul,
li,
label,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #f9f6f7;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: space-between;
}

header {
  background-color: #ffb6c1;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  width: 100%;
}

nav {
  background-color: #f8bbd0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0;
  padding: 1em;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  flex-direction: column;
  width: 30%;
}

article {
  flex-basis: 60%;
}

form {
  flex-basis: 100%;
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 1em;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #ff80ab;
}

input,
textarea,
select {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #e57373;
  border-radius: 3px;
}

input[type='radio'],
input[type='checkbox'] {
  margin-right: 0.5em;
}

/* p {
  margin-bottom: 1em;
} */

.titulo {
  text-align: center;
}

.tags {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}

footer {
  background-color: #ffb6c1;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
